.title {
	color: red;
}

.accordion {
  max-width: 600px;
  margin: 2rem auto;
}

.accordionTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: grey;
}

.accordionTitle:hover {
  background-color: darkgrey;
}

.accordionTitle,
.accordionContent {
  padding: 1rem;
}

.accordionContent {
  background-color: lightgrey;
}

.accordionContent:hover {
  background-color: darkgrey;
}